In [1]:
import altair as alt
import pandas as pd

In [17]:


data = pd.read_csv('PROCESSED_DATA.csv')

data['decade'] = (data['year'] // 10) * 10

decade_counts = data['decade'].value_counts().reset_index()
decade_counts

   decade  count
0    2010     25
1    2000      4
2    1990      3
3    2020      2
4    1890      1

In [42]:


pie_chart = alt.Chart(decade_counts).mark_arc().encode(
    alt.Theta('count',type='quantitative'),
    alt.Color('decade',type='nominal')
)
pie_chart.save('decade_releases.png')

In [28]:
author_ratings = data.groupby('author_name')['ratings'].sum().reset_index()

author_ratings = author_ratings.sort_values('ratings', ascending=False).head(10)
author_ratings

         author_name  ratings
32      Thomas Hardy   264435
24   Patricia Briggs   168943
11        Jojo Moyes   153951
1   Charlaine Harris   122829
31      Tahereh Mafi   116386
14      Julie Kagawa   104266
28  Stephanie Garber    96804
6      Ilona Andrews    70852
15       K. Bromberg    59370
25  Penelope Douglas    58200

In [43]:
top_authors_chart = alt.Chart(author_ratings).mark_bar(color='skyblue',).encode(
    alt.X("author_name").sort('-y'),
    alt.Y("ratings"),
)
top_authors_chart.save('top_authors.png')